{
  "openapi": "3.0.3",
  "info": {
    "title": "Form-Creator",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api-form-creator.webstap.ru/",
      "description": "Production server"
    },
    {
      "url": "https://localhost:{port}",
      "description": "Local testing server",
      "variables": {
        "port": {
          "enum": [
            "3000"
          ],
          "default": "3000"
        }
      }
    }
  ],
  "components": {
    "schemas": {
    },
    "requestBodies": {
    }
  },
  "paths": {
    "/auth/sign-up": {
      "post": {
        "tags": [
          "auth"
        ],
        "summary": "Регистрация пользователя",
        "description": "Доступно неавторизованным пользователям",
        "operationId": "addUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "firstName": {
                    "type": "string"
                  },
                  "lastName": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer"
                    },
                    "firstName": {
                      "type": "string"
                    },
                    "lastName": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "role": {
                      "type": "string"
                    },
                    "removedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "blockedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "passwordHash": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Incorrect login/password",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "LOGIN_OR_PASSWORD_INCORRECT"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": []
}
